<nav class="nav-wrapper">
    <div class="container">
        <a href="#!" class="brand-logo"><b>StoryBooks</b></a>
        <a href="#!" class="sidenav-trigger hide-on-large-only" data-target="mobile-links">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>

</nav>

<ul class="sidenav" id="mobile-links">
    <li><a href="/"><i class="fa fa-book-reader flow-text"></i><b>StoryBooks</b></a></li>
    <li><a href="/stories">Public Stories</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>