html {
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

main {
    flex: 1 0 auto;
}

header {
    background: url(/img/man.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.tabs .indicator{
    background-color: #1a237e;
}

/* can inspect page to see which bits to highlight with css */
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}